.container {
  padding: 10px;
}

.container button {
  width: 100px;
  height: 30px;
  border: #00000040 1px solid;
  cursor: pointer;
  border-radius: 2px;
}

.container button:first-child {
  background-color: #165315;
  color: #fff;
  margin-inline-end: 10px;
}

.container p {
  color: #838383;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
}
